* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font;
    height: map-get($other,'body-height');
    width: 100vw;
    background-color: map-get($colors,'color-1');
}