main {
    #music-container {
        width: 90%;
        height: calc($body-height - $header-height);
        margin: 0 auto;
        @include flex-center;
        flex-wrap: wrap;
        list-style: none;
        li {
            margin: $album-margin;
            height: $album-height;
            width: calc(($album-height - ($album-margin * ($albums-inRow * 2))) / $albums-inRow);
            min-width: 150px;
            background-color: map.get($colors,'color-2');
            text-align: center;
            transform: scale(1);
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.2);
                transition: transform 0.5s;            
            }
        }
        img {
            width: calc(100% - ($album-img-margin * 2));
            margin: $album-img-margin $album-img-margin 0 $album-img-margin;
            cursor: pointer;
        }
        h3 {
            margin: 10px;
            color: map.get($colors,'color-3');
            text-transform: uppercase;
        }
        h4 {
            margin: 10px;
            color: map.get($colors,'color-4');
        }
    }

}